
h5{
    color: #fff;
    font-family: 'Outfit', sans-serif;
    text-align: left;
    font-weight: bolder;
    padding: 10px 0;
}

.card{
    width: 18rem;
    padding:20px 20px ;
    margin: 10% auto;  
}



.card-text{
    color: hsl(215, 51%, 70%);
    font-size: 14px;
    
}
.eth-text{
    font-size:12px ;
    color: hsl(178, 100%, 50%);
    display: inline-block;
    padding-right: 90px;
    font-family: 'Outfit',sans-serif;
    font-weight: bolder;
    
}

.clock-text{
  font-size:12px ;
  color: hsl(215, 51%, 70%);
  display: inline-block;
  padding-left:2px;
  font-family: 'Outfit',sans-serif;
  text-align: right;
 
}
.avatar-image{
    width: 25px;
    padding: 1px;
    float: left;
    background-color: #fff; 
    border-radius: 100%;
    
    
}
.eth-icon{
    vertical-align: middle;
    margin-right: 2px;
}


.author{
    font-size: 13px;
    color: #fff;
    padding:2.5px 0 0 40px;
    margin-bottom: 0;
}
.author-1{
    color:hsl(215, 51%, 70%);
}
.attribution{
    color: #fff;
}
